<h1>Edit this Note </h1>


<div class="jumbotron">

  <h1 class="display-3">Let's Edit This Note</h1>
   <%= form_for ([@student, @note]) do |f|%> 
        <p class="lead">
            <%= f.label :title %>
            <%= f.text_field :title, placeholder: "Enter a Title"%>
        </p>


        <hr class="my-4">
        <p>
          <%= f.label :content%>
          <%= f.text_area :content, size: "70x5", placeholder: "Type your notes here."%>
        </p>

       
  

        <%= f.submit "Submit", class: "btn btn-primary btn-lg" %>
  <% end %>
  
</div>