<h1> All Notes for <%= @classroom.subject%> </h1>









<% @notes.each do |n| %>
   <li> <%= link_to n.title, note_path(n) %> - Owner: <%= n.student.username%></li>
<% end %>








<%# <li> <%= link_to n.title, note_path(n) - Owner: <%=n.student.username%> 
