
<h1>New Note:</h1>

<%= form_for @note do |f|%> 

   
    

    <%= f.label :title %>
    <%= f.text_field :title %>

    <br>

    <%= f.label :content%>
    <%= f.text_area :content, size: "70x5"%>

    <% if @classroom %>
        <%= f.hidden_field :classroom_id, value: @classroom.id %>
    <% end %>
 

    <br>
    <%= f.submit "Submit"%>
<% end %>