
<h1>New Note:</h1>

<% if @note.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

    <ul>
      <% @note.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>



<%= form_for @note do |f|%> 


    <%= f.label :title %>
    <%= f.text_field :title %>

    <br>

    <%= f.label :content%>
    <%= f.text_area :content, size: "70x5"%>

    <% if @classroom %>
        <%= f.hidden_field :classroom_id, value: @classroom.id %>
    <% end %>
 

    <br>
    <%= f.submit "Submit"%>
<% end %>