<h1> New Student </h1>


<% if @student.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

    <ul>
      <% @student.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>




<%= form_with model: @student do |f| %>

    <%= f.label :username %>
    <%= f.text_field :username %>

    <br><br>

    <br><br>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <br><br>

    <%= f.submit "Sign UP" %>
<% end %>




<%= button_to "Log in with Google", '/auth/google_oauth2' %>





